In [ ]:
import pandas as pd
import io

from google.colab import files
data_to_load = files.upload()
    
df = pd.read_csv(io.BytesIO(data_to_load['dqlab_telco_encoded.csv']), error_bad_lines=False)

Saving dqlab_telco_encoded.csv to dqlab_telco_encoded.csv

In [ ]:
df["Churncode"].value_counts()

0    5114
1    1879
Name: Churncode, dtype: int64

In [ ]:
#define variable data by removing the target variable
data = df[["tenure", "MonthlyCharges", "PaperlessBillingcode"]]
data.head()

   tenure  MonthlyCharges  PaperlessBillingcode
0     1.0           29.85                     1
1    34.0           56.95                     0
2     2.0           53.85                     1
3    45.0           42.30                     0
4     2.0           70.70                     1

In [ ]:
#define variable target
target = df["Churncode"]
target.head()

0    0
1    0
2    1
3    0
4    1
Name: Churncode, dtype: int64

In [ ]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

# Split dataset into training set and testing set
xtrain, xtest, ytrain, ytest = train_test_split(data, target, test_size=0.20,random_state=123) # 80% training and 20% test

In [ ]:
#Feature scaling to scale the data or commonly known as normalization
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(xtrain)
xtrain = scaler.transform(xtrain)
xtest = scaler.transform(xtest)

In [ ]:
#Implementing Decision Tree Algorithm
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier 
from sklearn import tree 

dt = tree.DecisionTreeClassifier(criterion="entropy")
dt.fit(xtrain, ytrain)
ypred = dt.predict(xtest)

# Making Confusion Matrix
from sklearn.metrics import classification_report, confusion_matrix
confusion_matrix(ytest, ypred)

array([[823, 202],
       [202, 172]])

In [ ]:
#Calculating Precision, Recall, F1-score, and Accuracy
from sklearn.metrics import classification_report
print(classification_report(ytest, ypred))

              precision    recall  f1-score   support

           0       0.80      0.80      0.80      1025
           1       0.46      0.46      0.46       374

    accuracy                           0.71      1399
   macro avg       0.63      0.63      0.63      1399
weighted avg       0.71      0.71      0.71      1399