In [ ]:
import pandas as pd
import io

from google.colab import files
data_to_load = files.upload()
    
df = pd.read_csv(io.BytesIO(data_to_load['dqlab_telco_encoded.csv']), error_bad_lines=False)

Saving dqlab_telco_encoded.csv to dqlab_telco_encoded (1).csv

In [ ]:
#define variable data by removing the variable target
x = df[["tenure", "MonthlyCharges", "PaperlessBillingcode"]]
x.head()

   tenure  MonthlyCharges  PaperlessBillingcode
0     1.0           29.85                     1
1    34.0           56.95                     0
2     2.0           53.85                     1
3    45.0           42.30                     0
4     2.0           70.70                     1

In [ ]:
#define variable target
y = df["Churncode"]
y.head()

0    0
1    0
2    1
3    0
4    1
Name: Churncode, dtype: int64

In [ ]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.20)

In [ ]:
#Implementing K-Nearest Neighbors Algorithm

import numpy as np  

# Activate StandardScaler package from SKlearn and write syntax to scale data
from sklearn.neighbors import KNeighborsClassifier

# Enable the classification function for KNN
knn = KNeighborsClassifier (n_neighbors=5)

# Enter training data in the classification function for KNN
knn.fit(xtrain,ytrain)

#Determine predictions or forecasts
ypred = knn.predict(xtest)
ypred= pd.DataFrame(ypred)

In [ ]:
#Import package to see the accuracy of the predicted data with the actual data
from sklearn.metrics import classification_report, confusion_matrix

# Displays the prediction result matrix
print(confusion_matrix(ytest,ypred))

[[899 121]
 [207 172]]

In [ ]:
#measure the accuracy or accuracy of the prediction results
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

           0       0.81      0.88      0.85      1020
           1       0.59      0.45      0.51       379

    accuracy                           0.77      1399
   macro avg       0.70      0.67      0.68      1399
weighted avg       0.75      0.77      0.76      1399